node-red/.flows.json.backup
[{"id":"66b9e821.df7788","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b04a68c8.ff86d8","type":"tab","label":"Xiaomi Air Purifier 2","disabled":false,"info":""},{"id":"bfc16bd5.4e53e8","type":"tab","label":"Humidifier","disabled":false,"info":""},{"id":"29852553.692eba","type":"server","name":"Home Assistant","addon":true},{"id":"c81290a.4fb627","type":"server-state-changed","z":"66b9e821.df7788","name":"Zigbee Switch State","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.xiaomi_zigbee","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":240,"y":240,"wires":[["ea9e8259.9ef46"]]},{"id":"ea9e8259.9ef46","type":"switch","z":"66b9e821.df7788","name":"State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":240,"wires":[["9d93a6a1.e60dc8","4384e923.e214a8"],["98deaf47.18247","4384e923.e214a8"]]},{"id":"9d93a6a1.e60dc8","type":"api-call-service","z":"66b9e821.df7788","name":"Turn red bedside lamp","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_bslamp3_0x000000001027e206","data":"{\"color_name\":\"blue\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":60,"wires":[[]]},{"id":"98deaf47.18247","type":"api-call-service","z":"66b9e821.df7788","name":"Turn off bedside lamp","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_bslamp3_0x000000001027e206","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":280,"wires":[[]]},{"id":"4384e923.e214a8","type":"api-call-service","z":"66b9e821.df7788","name":"","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_vog_l29","entityId":"","data":"{\"message\":\"zupa\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":180,"wires":[[]]},{"id":"1186faf8.6429d5","type":"server-state-changed","z":"b04a68c8.ff86d8","name":"Input mode changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.xiaomi_airpurifier_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":80,"wires":[["72155016.f2f4a"]]},{"id":"72155016.f2f4a","type":"api-call-service","z":"b04a68c8.ff86d8","name":"Set mode","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"set_preset_mode","entityId":"fan.xiaomi_air_purifier_2","data":"{\"preset_mode\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":80,"wires":[[]]},{"id":"3bcb20b1.75abe","type":"server-state-changed","z":"b04a68c8.ff86d8","name":"Input Favorite Level changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.xiaomi_airpurifier_favorite_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":220,"wires":[["7bb194fc.0da18c"]]},{"id":"3dbe1ee9.82d732","type":"api-call-service","z":"b04a68c8.ff86d8","name":"Set Favorite Level","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"fan_set_favorite_level","entityId":"fan.xiaomi_air_purifier_2","data":"{\"level\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":220,"wires":[[]]},{"id":"7bb194fc.0da18c","type":"function","z":"b04a68c8.ff86d8","name":"","func":"msg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":220,"wires":[["3dbe1ee9.82d732"]]},{"id":"9c3a46d1.3defc8","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Input Select mode changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.xiaomi_humidifier_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":100,"wires":[["66cb3c67.abb674"]]},{"id":"66cb3c67.abb674","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Set mode","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"set_speed","entityId":"fan.xiaomi_humidifier","data":"{\"speed\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":100,"wires":[[]]},{"id":"2ee76ec8.aa7fb2","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Input number target level changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.xiaomi_humidifier_target_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":240,"y":180,"wires":[["b516c3f1.e99d9"]]},{"id":"53521caa.a58514","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Set target humidity","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"fan_set_target_humidity","entityId":"fan.xiaomi_humidifier","data":"{\"humidity\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":180,"wires":[[]]},{"id":"b516c3f1.e99d9","type":"function","z":"bfc16bd5.4e53e8","name":"stringToInt(payload)","func":"msg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":180,"wires":[["53521caa.a58514"]]},{"id":"938c2356.85b4f","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Input Select mode changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.xiaomi_humidifier_bedroom_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":230,"y":680,"wires":[["c1c8857e.d80758"]]},{"id":"c1c8857e.d80758","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Set mode","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"set_speed","entityId":"fan.xiaomi_humidifier_bedroom","data":"{\"speed\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":680,"wires":[[]]},{"id":"72465640.936c98","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Input number target level changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.xiaomi_humidifier_bedroom_target_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":260,"y":760,"wires":[["71069a92.c227d4"]]},{"id":"4a5947f4.6540d8","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Set target humidity","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"fan_set_target_humidity","entityId":"fan.xiaomi_humidifier_bedroom","data":"{\"humidity\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":760,"wires":[[]]},{"id":"71069a92.c227d4","type":"function","z":"bfc16bd5.4e53e8","name":"stringToInt(payload)","func":"msg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":760,"wires":[["4a5947f4.6540d8"]]},{"id":"26f45477.b0467c","type":"function","z":"bfc16bd5.4e53e8","name":"check conditions","func":"const currentHumidity = parseFloat(msg.payload);\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst humidifierState = homeAssistant.states[\"fan.xiaomi_humidifier\"].state;\nconst windowState = homeAssistant.states[\"binary_sensor.kids_room_window_state\"].state;\nconst targetHumidity = Number(homeAssistant.states[\"input_number.xiaomi_humidifier_target_level\"].state);\nconst waterLevel = Number(homeAssistant.states[\"sensor.xiaomi_humidifier_depth\"].state);\n\nif(humidifierState === 'on' && ((waterLevel <= 15 || currentHumidity >= targetHumidity) || windowState === 'on')) {\n  msg.payload = 'off'; \n} else if(humidifierState === 'off' && waterLevel > 15 && currentHumidity < targetHumidity && windowState === 'off') {\n  msg.payload = 'on';\n} else {\n  msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":280,"wires":[["d773292a.1dc1e8"]]},{"id":"d773292a.1dc1e8","type":"switch","z":"bfc16bd5.4e53e8","name":"take action?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"on\"","vt":"str"},{"t":"eq","v":"\"off\"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":280,"wires":[["22e5a5d5.4430fa"],["c8ba4864.ab8438"]]},{"id":"22e5a5d5.4430fa","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Turn on","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.xiaomi_humidifier","data":"{\"preset_mode\": \"auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1420,"y":240,"wires":[[]]},{"id":"c8ba4864.ab8438","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Turn off","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.xiaomi_humidifier","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1420,"y":340,"wires":[[]]},{"id":"2789c02e.2a564","type":"poll-state","z":"bfc16bd5.4e53e8","name":"Check humidity","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalUnits":"hours","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.children_room_average_humidity","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":180,"y":280,"wires":[["26f45477.b0467c"]]},{"id":"f63635e5.e42fa8","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Windows state changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kids_room_window_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":360,"wires":[["93701751.50bb98","8811d629.3c8448"]]},{"id":"93701751.50bb98","type":"api-current-state","z":"bfc16bd5.4e53e8","name":"check humidity","server":"29852553.692eba","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.children_room_average_humidity","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":360,"wires":[["26f45477.b0467c"]]},{"id":"8811d629.3c8448","type":"debug","z":"bfc16bd5.4e53e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":520,"wires":[]}]