node-red/flows.json
[{"id":"66b9e821.df7788","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bfc16bd5.4e53e8","type":"tab","label":"Kids room","disabled":false,"info":""},{"id":"8a2ed35.7e2d23","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"29852553.692eba","type":"server","name":"Home Assistant","addon":true},{"id":"c81290a.4fb627","type":"server-state-changed","z":"66b9e821.df7788","name":"Zigbee Switch State","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.xiaomi_zigbee","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":240,"y":240,"wires":[["ea9e8259.9ef46"]]},{"id":"ea9e8259.9ef46","type":"switch","z":"66b9e821.df7788","name":"State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":240,"wires":[["9d93a6a1.e60dc8"],["98deaf47.18247"]]},{"id":"9d93a6a1.e60dc8","type":"api-call-service","z":"66b9e821.df7788","name":"Turn red bedside lamp","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_bslamp3_0x000000001027e206","data":"{\"color_name\":\"blue\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":60,"wires":[[]]},{"id":"98deaf47.18247","type":"api-call-service","z":"66b9e821.df7788","name":"Turn off bedside lamp","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_bslamp3_0x000000001027e206","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":280,"wires":[[]]},{"id":"4384e923.e214a8","type":"api-call-service","z":"66b9e821.df7788","name":"","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_vog_l29","entityId":"","data":"{\"message\":\"zupa\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":180,"wires":[[]]},{"id":"9c3a46d1.3defc8","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Humidifier input select mode changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.xiaomi_humidifier_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":250,"y":100,"wires":[["66cb3c67.abb674"]]},{"id":"66cb3c67.abb674","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Set mode","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"set_speed","entityId":"fan.xiaomi_humidifier","data":"{\"speed\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":100,"wires":[[]]},{"id":"2ee76ec8.aa7fb2","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Humidifier Input number target level changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.xiaomi_humidifier_target_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":270,"y":180,"wires":[["b516c3f1.e99d9"]]},{"id":"53521caa.a58514","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Set target humidity","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"fan_set_target_humidity","entityId":"fan.xiaomi_humidifier","data":"{\"humidity\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":180,"wires":[[]]},{"id":"b516c3f1.e99d9","type":"function","z":"bfc16bd5.4e53e8","name":"stringToInt(payload)","func":"msg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":180,"wires":[["53521caa.a58514"]]},{"id":"26f45477.b0467c","type":"function","z":"bfc16bd5.4e53e8","name":"check conditions","func":"const currentHumidity = parseFloat(msg.payload);\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst humidifierState = homeAssistant.states[\"fan.xiaomi_humidifier\"].state;\nconst windowState = homeAssistant.states[\"binary_sensor.window_kids_room_contact\"].state;\nconst targetHumidity = Number(homeAssistant.states[\"input_number.xiaomi_humidifier_target_level\"].state);\nconst waterLevel = Number(homeAssistant.states[\"sensor.xiaomi_humidifier_depth\"].state);\n\nif(humidifierState === 'on' && ((waterLevel <= 15 || currentHumidity >= targetHumidity) || windowState === 'on')) {\n  msg.payload = 'off'; \n} else if(humidifierState === 'off' && waterLevel > 15 && currentHumidity < targetHumidity && windowState === 'off') {\n  msg.payload = 'on';\n} else {\n  msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":280,"wires":[["d773292a.1dc1e8"]]},{"id":"d773292a.1dc1e8","type":"switch","z":"bfc16bd5.4e53e8","name":"take action?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":280,"wires":[["22e5a5d5.4430fa"],["c8ba4864.ab8438"]]},{"id":"22e5a5d5.4430fa","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Humidifier turn on","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.xiaomi_humidifier","data":"{\"preset_mode\": \"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":240,"wires":[[]]},{"id":"c8ba4864.ab8438","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Humidifier turn off","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.xiaomi_humidifier","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":340,"wires":[[]]},{"id":"2789c02e.2a564","type":"poll-state","z":"bfc16bd5.4e53e8","name":"Check humidity","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.kids_room_average_humidity","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":180,"y":280,"wires":[["26f45477.b0467c"]]},{"id":"f63635e5.e42fa8","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Windows state changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.window_kids_room_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":460,"wires":[["93701751.50bb98","8f05427e.cd05f"]]},{"id":"93701751.50bb98","type":"api-current-state","z":"bfc16bd5.4e53e8","name":"Humidifier check humidity","server":"29852553.692eba","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.kids_room_average_humidity","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":380,"wires":[["26f45477.b0467c"]]},{"id":"a38563e2.9d2b","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Air Purifier Input mode changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.xiaomi_airpurifier_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":230,"y":880,"wires":[["d7be4b50.bb0968"]]},{"id":"d7be4b50.bb0968","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Set mode","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"set_preset_mode","entityId":"fan.xiaomi_air_purifier_2","data":"{\"preset_mode\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":880,"wires":[[]]},{"id":"2d7d06b3.5eab4a","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Air Purifier Input Favorite Level changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.xiaomi_airpurifier_favorite_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":250,"y":940,"wires":[["414662b5.8b919c"]]},{"id":"365d059a.060d1a","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Set Favorite Level","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"fan_set_favorite_level","entityId":"fan.xiaomi_air_purifier_2","data":"{\"level\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":940,"wires":[[]]},{"id":"414662b5.8b919c","type":"function","z":"bfc16bd5.4e53e8","name":"","func":"msg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":940,"wires":[["365d059a.060d1a"]]},{"id":"71f9502d.3546c","type":"server-state-changed","z":"8a2ed35.7e2d23","name":"Input Select mode changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.xiaomi_humidifier_bedroom_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":40,"wires":[["7965cb63.559304"]]},{"id":"7965cb63.559304","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Set mode","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"set_speed","entityId":"fan.xiaomi_humidifier_bedroom","data":"{\"speed\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":40,"wires":[[]]},{"id":"ce30bd8d.8a146","type":"server-state-changed","z":"8a2ed35.7e2d23","name":"Input number target level changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.xiaomi_humidifier_bedroom_target_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":120,"wires":[["f1c1788b.e88ba8"]]},{"id":"7a1cb99b.190d18","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Set target humidity","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"fan_set_target_humidity","entityId":"fan.xiaomi_humidifier_bedroom","data":"{\"humidity\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":120,"wires":[[]]},{"id":"f1c1788b.e88ba8","type":"function","z":"8a2ed35.7e2d23","name":"stringToInt(payload)","func":"msg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":120,"wires":[["7a1cb99b.190d18"]]},{"id":"8f05427e.cd05f","type":"api-current-state","z":"bfc16bd5.4e53e8","name":"Air Purifier check AQI","server":"29852553.692eba","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.xiaomi_airpurifier_aqi","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":560,"wires":[["6da4db.b117fb24"]]},{"id":"6da4db.b117fb24","type":"function","z":"bfc16bd5.4e53e8","name":"check conditions","func":"const currentAqi = parseFloat(msg.payload);\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst purifierState = homeAssistant.states[\"fan.xiaomi_humidifier\"].state;\nconst windowState = homeAssistant.states[\"binary_sensor.window_kids_room_contact\"].state;\n\nif(purifierState === 'on' && windowState === 'on' || currentAqi <= 10 ) {\n  msg.payload = 'off'; \n} else if(purifierState === 'off' && windowState === 'off' && currentAqi > 10) {\n  msg.payload = 'on';\n} else {\n  msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":660,"wires":[["8bb2aaa2.021dc8"]]},{"id":"8bb2aaa2.021dc8","type":"switch","z":"bfc16bd5.4e53e8","name":"take action?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":600,"wires":[["7585419f.51d2"],["f4b61ea4.c3426"]]},{"id":"7585419f.51d2","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Air Purifier turn on","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.xiaomi_air_purifier_2","data":"{\"preset_mode\": \"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":540,"wires":[[]]},{"id":"f4b61ea4.c3426","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Air Purifier turn off","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.xiaomi_air_purifier_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1410,"y":640,"wires":[[]]},{"id":"21f2ae24.2dcda2","type":"poll-state","z":"bfc16bd5.4e53e8","name":"Check AQI","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.xiaomi_airpurifier_aqi","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":660,"wires":[["6da4db.b117fb24"]]},{"id":"4f189166.9788c","type":"server-state-changed","z":"8a2ed35.7e2d23","name":"Switch #1 state change","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bedroom_1_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":400,"wires":[["ad230b89.02ffa8"]]},{"id":"ad230b89.02ffa8","type":"function","z":"8a2ed35.7e2d23","name":"","func":"const action = msg.payload\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst deskLampState = homeAssistant.states[\"switch.power_switch\"].state;\nconst bedsideLampState = homeAssistant.states[\"light.yeelight_bslamp3\"].state;\n\nswitch (action) {\n  case 'single':\n    if (deskLampState === 'off' && bedsideLampState === 'off'){\n      msg.payload = { d: 'on', b: 'off'  }\n      break;\n    } else if (deskLampState === 'on' && bedsideLampState === 'off'){\n      msg.payload = { d: 'on', b: 'on'  }\n      break;\n    } else if (deskLampState === 'on' && bedsideLampState === 'on') {\n      msg.payload = { d: 'off', b: 'on'  }\n      break;\n    } else if (deskLampState === 'off' && bedsideLampState === 'on') {\n      msg.payload = { d: 'off', b: 'off'  }\n      break;\n    }\n    break;\n  case 'hold':\n    msg.payload = { d: 'off', b: 'off'  }\n    break;\n  case 'double':\n    msg.payload = { d: 'on', b: 'on'  }\n    break;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":400,"wires":[["a0778338.e1fae","bbfeb41d.56ec88"]]},{"id":"f4545bc7.80c4e8","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn on desk lamp ","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.power_switch","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":260,"wires":[[]]},{"id":"a3afef4f.ba0bc","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn off desk lamp","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.power_switch","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":340,"wires":[[]]},{"id":"a0778338.e1fae","type":"switch","z":"8a2ed35.7e2d23","name":"select desk lamp action","property":"payload.d","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":320,"wires":[["f4545bc7.80c4e8"],["a3afef4f.ba0bc"]]},{"id":"bbfeb41d.56ec88","type":"switch","z":"8a2ed35.7e2d23","name":"select bedside lamp action","property":"payload.b","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":440,"wires":[["c8be0511.b43218"],["ee42927a.20cbc"]]},{"id":"c8be0511.b43218","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn on bedside lamp ","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_bslamp3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":420,"wires":[[]]},{"id":"ee42927a.20cbc","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn off bedside lamp","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_bslamp3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":520,"wires":[[]]},{"id":"f031da0f.904a48","type":"server-state-changed","z":"66b9e821.df7788","name":"UPS state changed","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ups_status_data","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":250,"y":440,"wires":[["aae3e822.6b3c78"]]},{"id":"edf85b23.c25358","type":"api-call-service","z":"66b9e821.df7788","name":"send notification","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram","entityId":"","data":"{\"title\":\"UPS alert\",\"message\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":440,"wires":[[]]},{"id":"aae3e822.6b3c78","type":"function","z":"66b9e821.df7788","name":"prepare message","func":"current_ups_state = msg.payload\n\nif(current_ups_state === 'OL') {\n    msg.payload = 'UPS back to online'\n} else if (current_ups_state === 'OB') {\n    msg.payload = 'Power outage - UPS on battery!'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":440,"wires":[["edf85b23.c25358"]]},{"id":"dc9dce27.9c5c2","type":"server-state-changed","z":"66b9e821.df7788","name":"UPS battery charge","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ups_battery_charge","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":250,"y":640,"wires":[["c6153e64.cc4f8"]]},{"id":"c6153e64.cc4f8","type":"function","z":"66b9e821.df7788","name":"stringToInt(payload)","func":"msg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":640,"wires":[["8fca60b9.99ebc"]]},{"id":"8fca60b9.99ebc","type":"switch","z":"66b9e821.df7788","name":"battery charge value","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"15","vt":"str"},{"t":"eq","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":640,"wires":[["e6fa972f.3026c8"],["5686787a.804fa8"]]},{"id":"e6fa972f.3026c8","type":"api-call-service","z":"66b9e821.df7788","name":"Low Battery telegram Notify","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram","entityId":"","data":"{\"title\":\"UPS alert: low batery\",\"message\":\"Shutting down raspberry\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":580,"wires":[["219f1ae0.dfcb76"]]},{"id":"992e23fc.6ab7b","type":"api-call-service","z":"66b9e821.df7788","name":"Shut down RPI4","server":"29852553.692eba","version":1,"debugenabled":true,"service_domain":"hassio","service":"host_shutdown","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1800,"y":580,"wires":[[]]},{"id":"5686787a.804fa8","type":"api-call-service","z":"66b9e821.df7788","name":"Fully charged notification","server":"29852553.692eba","version":1,"debugenabled":false,"service_domain":"notify","service":"telegram","entityId":"","data":"{\"title\":\"UPS info\",\"message\":\"Fully charged\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":700,"wires":[[]]},{"id":"219f1ae0.dfcb76","type":"delay","z":"66b9e821.df7788","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":580,"wires":[["992e23fc.6ab7b"]]}]
