node-red/flows.json
[{"id":"66b9e821.df7788","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bfc16bd5.4e53e8","type":"tab","label":"Kids room","disabled":false,"info":""},{"id":"8a2ed35.7e2d23","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"29852553.692eba","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"f031da0f.904a48","type":"server-state-changed","z":"66b9e821.df7788","name":"UPS state changed","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ups_status_data","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":60,"wires":[["aae3e822.6b3c78"]]},{"id":"edf85b23.c25358","type":"api-call-service","z":"66b9e821.df7788","name":"send notification","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"notify","service":"telegram","entityId":"","data":"{\"title\":\"UPS alert\",\"message\":\"{{payload}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":80,"wires":[[]]},{"id":"aae3e822.6b3c78","type":"function","z":"66b9e821.df7788","name":"prepare message","func":"current_ups_state = msg.payload\n\nif(current_ups_state === 'OL') {\n    msg.payload = 'UPS back to online'\n} else if (current_ups_state === 'OB') {\n    msg.payload = 'Power outage - UPS on battery!'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":80,"wires":[["edf85b23.c25358"]]},{"id":"dc9dce27.9c5c2","type":"server-state-changed","z":"66b9e821.df7788","name":"UPS battery charge","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ups_battery_charge","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":280,"wires":[["c6153e64.cc4f8"]]},{"id":"c6153e64.cc4f8","type":"function","z":"66b9e821.df7788","name":"stringToInt(payload)","func":"msg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[["8fca60b9.99ebc"]]},{"id":"8fca60b9.99ebc","type":"switch","z":"66b9e821.df7788","name":"battery charge value","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"str"},{"t":"eq","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":280,"wires":[["2e57a4f7.6d011c"],["5686787a.804fa8"]]},{"id":"e6fa972f.3026c8","type":"api-call-service","z":"66b9e821.df7788","name":"Low Battery telegram Notify","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"notify","service":"telegram","entityId":"","data":"{\"title\":\"UPS alert: low batery\",\"message\":\"Shutting down raspberry\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":200,"wires":[["219f1ae0.dfcb76"]]},{"id":"992e23fc.6ab7b","type":"api-call-service","z":"66b9e821.df7788","name":"Shut down RPI4","server":"29852553.692eba","version":3,"debugenabled":true,"service_domain":"hassio","service":"host_shutdown","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1520,"y":200,"wires":[[]]},{"id":"5686787a.804fa8","type":"api-call-service","z":"66b9e821.df7788","name":"Fully charged notification","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"notify","service":"telegram","entityId":"","data":"{\"title\":\"UPS info\",\"message\":\"Fully charged\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":340,"wires":[[]]},{"id":"219f1ae0.dfcb76","type":"delay","z":"66b9e821.df7788","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1360,"y":200,"wires":[["992e23fc.6ab7b"]]},{"id":"2e57a4f7.6d011c","type":"api-current-state","z":"66b9e821.df7788","name":"If on battery","server":"29852553.692eba","version":2,"outputs":2,"halt_if":"OB","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ups_status_data","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":910,"y":240,"wires":[["e6fa972f.3026c8"],[]]},{"id":"772030.0a36ffd","type":"server-state-changed","z":"66b9e821.df7788","name":"Motion state changed","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.hall_motion_sensor_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":420,"wires":[["a4b5faef.226858"],[]]},{"id":"c10eb3f7.b6864","type":"api-current-state","z":"66b9e821.df7788","name":"Xiaomi Gateway light on","server":"29852553.692eba","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.lumi_gateway_v3_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":430,"y":360,"wires":[["6520cb10.a96c44"],["bb19ecce.904d2"]]},{"id":"bb19ecce.904d2","type":"api-call-service","z":"66b9e821.df7788","name":"Turn on Gateway light","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lumi_gateway_v3_light","data":"{\"transition\":1000}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":440,"wires":[["6520cb10.a96c44"]]},{"id":"6520cb10.a96c44","type":"stoptimer","z":"66b9e821.df7788","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":930,"y":400,"wires":[["182947ea.dd1d88"],[]]},{"id":"e399fd96.084c7","type":"api-call-service","z":"66b9e821.df7788","name":"Turn off Gateway light","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lumi_gateway_v3_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":620,"wires":[[]]},{"id":"182947ea.dd1d88","type":"function","z":"66b9e821.df7788","name":"prepareMotionSensorState","func":"const homeAssistant = global.get('homeassistant').homeAssistant;\nlet motionAttributes = homeAssistant.states[\"binary_sensor.hall_motion_sensor_occupancy\"].attributes;\n\nmotionAttributes.occupancy = false\n\nmsg.payload = { state: \"off\", attributes: motionAttributes };\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":520,"wires":[["8407261c.0f7ab8"]]},{"id":"8407261c.0f7ab8","type":"ha-api","z":"66b9e821.df7788","name":"","server":"29852553.692eba","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"states/binary_sensor.hall_motion_sensor_occupancy","data":"payload","dataType":"jsonata","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":1010,"y":620,"wires":[["e399fd96.084c7"]]},{"id":"a4b5faef.226858","type":"api-current-state","z":"66b9e821.df7788","name":"Is dark?","server":"29852553.692eba","version":2,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.hall_motion_sensor_illuminance_lux","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":300,"y":500,"wires":[["c10eb3f7.b6864"],["182947ea.dd1d88"]]},{"id":"f516b401.d86428","type":"server-state-changed","z":"66b9e821.df7788","name":"Sunset","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":700,"wires":[["70aaf357.f887dc"],[]]},{"id":"70aaf357.f887dc","type":"api-current-state","z":"66b9e821.df7788","name":"Blinds open?","server":"29852553.692eba","version":2,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"cover.blinds_drive","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":700,"wires":[["0a6a6cc7779f568a"],[]]},{"id":"b0c7a24f.0c18c","type":"api-call-service","z":"66b9e821.df7788","name":"Close blinds drive","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.blinds_drive","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":680,"wires":[[]]},{"id":"0a6a6cc7779f568a","type":"delay","z":"66b9e821.df7788","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":530,"y":700,"wires":[["b0c7a24f.0c18c"]]},{"id":"9c3a46d1.3defc8","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Humidifier input select mode changed","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.xiaomi_humidifier_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":100,"wires":[["66cb3c67.abb674"]]},{"id":"66cb3c67.abb674","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Set mode","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"fan","service":"set_speed","entityId":"fan.xiaomi_humidifier","data":"{\"speed\": \"{{payload}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":100,"wires":[[]]},{"id":"2ee76ec8.aa7fb2","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Humidifier Input number target level changed","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.xiaomi_humidifier_target_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":270,"y":180,"wires":[["b516c3f1.e99d9"]]},{"id":"b516c3f1.e99d9","type":"function","z":"bfc16bd5.4e53e8","name":"stringToInt(payload)","func":"msg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":180,"wires":[["c5e665fcd97188f0"]]},{"id":"26f45477.b0467c","type":"function","z":"bfc16bd5.4e53e8","name":"check conditions","func":"const currentHumidity = parseFloat(msg.payload);\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst humidifierState = homeAssistant.states[\"humidifier.xiaomi_humidifier\"].state;\nconst windowState = homeAssistant.states[\"binary_sensor.window_kids_room_contact\"].state;\nconst targetHumidity = Number(homeAssistant.states[\"input_number.xiaomi_humidifier_target_level\"].state);\nconst waterLevel = Number(homeAssistant.states[\"sensor.xiaomi_humidifier_water_level\"].state);\n\nif(humidifierState === 'on' && ((waterLevel <= 15 || currentHumidity >= targetHumidity) || windowState === 'on')) {\n  msg.payload = 'off'; \n} else if(humidifierState === 'off' && waterLevel > 15 && currentHumidity < targetHumidity && windowState === 'off') {\n  msg.payload = 'on';\n} else {\n  msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":280,"wires":[["d773292a.1dc1e8"]]},{"id":"d773292a.1dc1e8","type":"switch","z":"bfc16bd5.4e53e8","name":"take action?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":280,"wires":[["22e5a5d5.4430fa"],["c8ba4864.ab8438"]]},{"id":"22e5a5d5.4430fa","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Humidifier turn on","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"humidifier","service":"turn_on","entityId":"humidifier.xiaomi_humidifier","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1450,"y":240,"wires":[[]]},{"id":"c8ba4864.ab8438","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Humidifier turn off","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"humidifier","service":"turn_off","entityId":"humidifier.xiaomi_humidifier","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1450,"y":340,"wires":[[]]},{"id":"2789c02e.2a564","type":"poll-state","z":"bfc16bd5.4e53e8","name":"Check humidity","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.kids_room_average_humidity","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":160,"y":280,"wires":[["26f45477.b0467c"]]},{"id":"f63635e5.e42fa8","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Windows state changed","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.window_kids_room_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":460,"wires":[["93701751.50bb98","8f05427e.cd05f"]]},{"id":"93701751.50bb98","type":"api-current-state","z":"bfc16bd5.4e53e8","name":"Humidifier check humidity","server":"29852553.692eba","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.kids_room_average_humidity","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":550,"y":380,"wires":[["26f45477.b0467c"]]},{"id":"a38563e2.9d2b","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"Air Purifier Input mode changed","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.xiaomi_airpurifier_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":880,"wires":[["d7be4b50.bb0968"]]},{"id":"d7be4b50.bb0968","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Set mode","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"fan","service":"set_preset_mode","entityId":"fan.xiaomi_air_purifier_2","data":"{\"preset_mode\": \"{{payload}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":880,"wires":[[]]},{"id":"8f05427e.cd05f","type":"api-current-state","z":"bfc16bd5.4e53e8","name":"Air Purifier check AQI","server":"29852553.692eba","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.xiaomi_air_purifier_2_pm2_5","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":540,"y":560,"wires":[["6da4db.b117fb24"]]},{"id":"6da4db.b117fb24","type":"function","z":"bfc16bd5.4e53e8","name":"check conditions","func":"const currentAqi = parseFloat(msg.payload);\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst purifierState = homeAssistant.states[\"fan.xiaomi_air_purifier_2\"].state;\nconst windowState = homeAssistant.states[\"binary_sensor.window_kids_room_contact\"].state;\n\nif(purifierState === 'on' && windowState === 'on' || currentAqi <= 10 ) {\n  msg.payload = 'off'; \n} else if(purifierState === 'off' && windowState === 'off' && currentAqi > 10) {\n  msg.payload = 'on';\n} else {\n  msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":660,"wires":[["8bb2aaa2.021dc8"]]},{"id":"8bb2aaa2.021dc8","type":"switch","z":"bfc16bd5.4e53e8","name":"take action?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":600,"wires":[["7585419f.51d2"],["f4b61ea4.c3426"]]},{"id":"7585419f.51d2","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Air Purifier turn on","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.xiaomi_air_purifier_2","data":"{\"preset_mode\": \"Auto\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1390,"y":540,"wires":[[]]},{"id":"f4b61ea4.c3426","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Air Purifier turn off","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.xiaomi_air_purifier_2","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":640,"wires":[[]]},{"id":"21f2ae24.2dcda2","type":"poll-state","z":"bfc16bd5.4e53e8","name":"Check AQI","server":"29852553.692eba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.xiaomi_air_purifier_2_pm2_5","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":100,"y":660,"wires":[["6da4db.b117fb24"]]},{"id":"d3801146.62deb","type":"server-state-changed","z":"bfc16bd5.4e53e8","name":"When cleaning ends","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.roborock_vacuum_s5","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"returning","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":1100,"wires":[["ea54523f.b76f3"],[]]},{"id":"ea54523f.b76f3","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Turn off bedroom_clean","server":"29852553.692eba","version":3,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.bedroom_clean","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":1100,"wires":[["3ad7162f.5f66fa"]]},{"id":"3ad7162f.5f66fa","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Turn off bar_clean","server":"29852553.692eba","version":3,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.bar_clean","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1100,"wires":[["20a4c82d.1fc238"]]},{"id":"20a4c82d.1fc238","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Turn off bath_room_clean","server":"29852553.692eba","version":3,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.bath_room_clean","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":1100,"wires":[["e4100ab0.d4d2e8"]]},{"id":"e4100ab0.d4d2e8","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Turn off carpet_clean","server":"29852553.692eba","version":3,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.carpet_clean","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":1100,"wires":[["9cafa97.ddc6c58"]]},{"id":"9cafa97.ddc6c58","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Turn off children_room_clean","server":"29852553.692eba","version":3,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.children_room_clean","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":1180,"wires":[["f4277c04.3ce61"]]},{"id":"f4277c04.3ce61","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Turn off hall_clean","server":"29852553.692eba","version":3,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.hall_clean","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1180,"wires":[["2c31d2f2.6a776e"]]},{"id":"2c31d2f2.6a776e","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Turn off kitchen_clean","server":"29852553.692eba","version":3,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.kitchen_clean","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":1180,"wires":[["6a153f8c.b2036"]]},{"id":"6a153f8c.b2036","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Turn off table_clean","server":"29852553.692eba","version":3,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.table_clean","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":1180,"wires":[[]]},{"id":"c5e665fcd97188f0","type":"api-call-service","z":"bfc16bd5.4e53e8","name":"Set target humidity","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"humidifier","service":"set_humidity","entityId":"humidifier.xiaomi_humidifier","data":"{\"humidity\": \"{{payload}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":180,"wires":[[]]},{"id":"71f9502d.3546c","type":"server-state-changed","z":"8a2ed35.7e2d23","name":"Input Select mode changed","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.xiaomi_humidifier_bedroom_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":40,"wires":[["7965cb63.559304"]]},{"id":"7965cb63.559304","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Set mode","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"fan","service":"set_speed","entityId":"fan.xiaomi_humidifier_bedroom","data":"{\"speed\": \"{{payload}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":40,"wires":[[]]},{"id":"ce30bd8d.8a146","type":"server-state-changed","z":"8a2ed35.7e2d23","name":"Input number target level changed","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.xiaomi_humidifier_bedroom_target_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":120,"wires":[["f1c1788b.e88ba8"]]},{"id":"7a1cb99b.190d18","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Set target humidity","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"xiaomi_miio","service":"fan_set_target_humidity","entityId":"fan.xiaomi_humidifier_bedroom","data":"{\"humidity\": \"{{payload}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":120,"wires":[[]]},{"id":"f1c1788b.e88ba8","type":"function","z":"8a2ed35.7e2d23","name":"stringToInt(payload)","func":"msg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":120,"wires":[["7a1cb99b.190d18"]]},{"id":"4f189166.9788c","type":"server-state-changed","z":"8a2ed35.7e2d23","name":"Switch #1 state change","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bedroom_1_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":400,"wires":[["ad230b89.02ffa8"]]},{"id":"ad230b89.02ffa8","type":"function","z":"8a2ed35.7e2d23","name":"","func":"const action = msg.payload\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst deskLampState = homeAssistant.states[\"switch.power_switch\"].state;\nconst bedsideLampState = homeAssistant.states[\"light.yeelight_bslamp3\"].state;\n\nswitch (action) {\n  case 'single':\n    if (deskLampState === 'off' && bedsideLampState === 'off'){\n      msg.payload = { d: 'on', b: 'off'  }\n      break;\n    } else if (deskLampState === 'on' && bedsideLampState === 'off'){\n      msg.payload = { d: 'on', b: 'on'  }\n      break;\n    } else if (deskLampState === 'on' && bedsideLampState === 'on') {\n      msg.payload = { d: 'off', b: 'on'  }\n      break;\n    } else if (deskLampState === 'off' && bedsideLampState === 'on') {\n      msg.payload = { d: 'off', b: 'off'  }\n      break;\n    }\n    break;\n  case 'hold':\n    msg.payload = { d: 'off', b: 'off'  }\n    break;\n  case 'double':\n    msg.payload = { d: 'on', b: 'on'  }\n    break;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":400,"wires":[["a0778338.e1fae","bbfeb41d.56ec88"]]},{"id":"f4545bc7.80c4e8","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn on desk lamp ","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.power_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":260,"wires":[[]]},{"id":"a3afef4f.ba0bc","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn off desk lamp","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.power_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":340,"wires":[[]]},{"id":"a0778338.e1fae","type":"switch","z":"8a2ed35.7e2d23","name":"select desk lamp action","property":"payload.d","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":320,"wires":[["f4545bc7.80c4e8"],["a3afef4f.ba0bc"]]},{"id":"bbfeb41d.56ec88","type":"switch","z":"8a2ed35.7e2d23","name":"select bedside lamp action","property":"payload.b","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":440,"wires":[["c8be0511.b43218"],["ee42927a.20cbc"]]},{"id":"c8be0511.b43218","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn on bedside lamp ","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_bslamp3","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":420,"wires":[[]]},{"id":"ee42927a.20cbc","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn off bedside lamp","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_bslamp3","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":520,"wires":[[]]},{"id":"bbde449f.ddf118","type":"server-state-changed","z":"8a2ed35.7e2d23","name":"Switch #1 state change","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_bedroom_2_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":660,"wires":[["ef6688bf.7ea958"]]},{"id":"ef6688bf.7ea958","type":"function","z":"8a2ed35.7e2d23","name":"","func":"const action = msg.payload\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst powerStripState = homeAssistant.states[\"switch.zimi_powerstrip_v2\"].state;\n\nswitch (action) {\n  case 'single':\n    if (powerStripState === 'off'){\n      msg.payload = 'on'\n      break;\n    } else if (powerStripState === 'on'){\n      msg.payload = 'off'\n      break;\n    }\n    break;\n}\n\nconsole.log(msg, \"msg\")\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":660,"wires":[["a873027a.7dc8f","c270240b16cca945"]]},{"id":"a873027a.7dc8f","type":"switch","z":"8a2ed35.7e2d23","name":"select power strip action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":660,"wires":[["20bf6c8e.719124"],["dd743908.386c28"]]},{"id":"20bf6c8e.719124","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn on power strip","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.zimi_powerstrip_v2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":640,"wires":[[]]},{"id":"dd743908.386c28","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn off power strip","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.zimi_powerstrip_v2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":700,"wires":[[]]},{"id":"6c8baf1ca158661d","type":"server-state-changed","z":"8a2ed35.7e2d23","name":"Scene switch triggered","server":"29852553.692eba","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.scene_switch_bedroom_1_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":1040,"wires":[["049034dd7d844274","195d2e6000d6cc03"]]},{"id":"049034dd7d844274","type":"switch","z":"8a2ed35.7e2d23","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_step_up","vt":"str"},{"t":"eq","v":"brightness_step_down","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":490,"y":1040,"wires":[["e37739581992708b"],["382a241cffbc5e37"],["ab92591e95c38884"],["1e77f18c9951f091"],["3e68b1bdbb046cec"],["cb40f2f827835f43"]]},{"id":"e37739581992708b","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn on desk lamp ","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.power_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":800,"wires":[[]]},{"id":"382a241cffbc5e37","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Turn on bedside lamp ","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.yeelight_bslamp3","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":860,"wires":[[]]},{"id":"ab92591e95c38884","type":"function","z":"8a2ed35.7e2d23","name":"Calculate blind position","func":"const action = msg.payload\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst blindsPosition = homeAssistant.states[\"cover.blinds_drive\"].attributes.position;\n\nconst positions = {\n    zero: 0,\n    quarter: 34,\n    half: 65,\n    three_quarters: 80,\n    full: 100\n};\n\nlet nextPosition = 0;\n\nif (blindsPosition >= positions.zero && blindsPosition < positions.quarter){\n    nextPosition = positions.quarter;\n} else if (blindsPosition >= positions.quarter && blindsPosition < positions.half) {\n    nextPosition = positions.half;\n} else if (blindsPosition >= positions.half && blindsPosition < positions.three_quarters) {\n    nextPosition = positions.three_quarters;\n} else if (blindsPosition >= positions.three_quarters && blindsPosition <= 100) {\n    nextPosition = positions.full;\n}\n\nmsg.payload = nextPosition\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":940,"wires":[["38700de918e793c4"]]},{"id":"38700de918e793c4","type":"api-call-service","z":"8a2ed35.7e2d23","name":"Set blind position","server":"29852553.692eba","version":3,"debugenabled":false,"service_domain":"mqtt","service":"publish","entityId":"","data":"{\"topic\":\"zigbee2mqtt/blinds_drive/set\",\"payload\":\"{ \\\"position\\\": \\\"{{ payload }}\\\" }\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":1000,"wires":[[]]},{"id":"1e77f18c9951f091","type":"function","z":"8a2ed35.7e2d23","name":"Calculate blind position","func":"const action = msg.payload\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst blindsPosition = homeAssistant.states[\"cover.blinds_drive\"].attributes.position;\n\nconst positions = {\n    zero: 0,\n    quarter: 34,\n    half: 65,\n    three_quarters: 80,\n    full: 100\n};\n\nlet nextPosition = 0;\n\nif (blindsPosition <= positions.full && blindsPosition > positions.three_quarter){\n    nextPosition = positions.quarter;\n} else if (blindsPosition <= positions.three_quarter && blindsPosition > positions.half) {\n    nextPosition = positions.half;\n} else if (blindsPosition <= positions.half && blindsPosition > positions.quarter) {\n    nextPosition = positions.quarter;\n} else if (blindsPosition <= positions.quarter && blindsPosition > positions.zero) {\n    nextPosition = positions.zero;\n}\n\nmsg.payload = nextPosition\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1000,"wires":[["38700de918e793c4"]]},{"id":"3e68b1bdbb046cec","type":"function","z":"8a2ed35.7e2d23","name":"Calculate blind position","func":"const action = msg.payload\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst blindsPosition = homeAssistant.states[\"cover.blinds_drive\"].attributes.position;\n\nconst positions = {\n    zero: 0,\n    full: 100\n};\n\nlet nextPosition = 0;\n\nif (blindsPosition >= positions.zero){\n    nextPosition = positions.full;\n}\n\nmsg.payload = nextPosition;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1060,"wires":[["38700de918e793c4"]]},{"id":"cb40f2f827835f43","type":"function","z":"8a2ed35.7e2d23","name":"Calculate blind position","func":"const action = msg.payload\nconst homeAssistant = global.get('homeassistant').homeAssistant;\nconst blindsPosition = homeAssistant.states[\"cover.blinds_drive\"].attributes.position;\n\nconst positions = {\n    zero: 0,\n    full: 100\n};\n\nlet nextPosition = 0;\n\nif (blindsPosition <= positions.full){\n    nextPosition = positions.zero;\n}\n\nmsg.payload = nextPosition;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1120,"wires":[["38700de918e793c4"]]},{"id":"195d2e6000d6cc03","type":"debug","z":"8a2ed35.7e2d23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":1200,"wires":[]},{"id":"c270240b16cca945","type":"debug","z":"8a2ed35.7e2d23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":740,"wires":[]}]